#container-apresentation {
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
}

.apresentation-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 7rem;
}

.apresentation-reverse {
    flex-direction: row-reverse;
    background: linear-gradient(to bottom, var(--colorlight-gradient), var(--colorstrong-gradient));
}

.apresentation-slide img {
    height: 30rem;
    border-radius: 15% 35% 80% 10%;
    border: 10px solid var(--colorlight-gradient);
}

.apresentation-reverse img {
    border-radius: 30% 15% 10% 80%;
    border: 10px solid var(--color-background);
}

.apresentation-content {
    width: 40%;
    text-align: right;
}

.apresentation-content h3 {
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 2rem;
    color: var(--color-text);
    margin-bottom: 2rem;
}

.apresentation-reverse div > h3 {
    color: var(--color-background);
}

.apresentation-reverse div > p {
    color: var(--color-background);
    font-weight: 400;
}

.apresentation-content p {
    font-family: var(--font-text);
    font-weight: 300;
    line-height: 1.3rem;
    color: var(--color-text);
}

.apresentation-reverse div {
    text-align: left;
}

.box-prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    padding: 2rem;
}

.table-prices {
    color: white;
}

.table-prices-body tr {
    border-top: 2px solid rgba(182, 182, 182, 0.4);
}

.table-prices-body tr > th {
    font-family: var(--font-title);
    font-size: 1rem;
    text-align: start;
    vertical-align: middle;
}

.table-prices-body tr > td {
    text-align: center;
    width: 13rem;
    /* padding: .3rem; */
}

.table-prices-body tr > td > img {
    vertical-align: middle;
}

.table-prices-head tr > th {
    font-family: var(--font-title);
    font-weight: bold;
    vertical-align: middle;
    padding: 2rem;
    font-size: 2rem;
    line-height: 1rem;
}

.table-prices-head tr > th > span {
    color: greenyellow;
    font-size: 1.5rem;
}

.table-prices-button {
    font-family: var(--font-title);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    background: linear-gradient(to right, var(--colorlight-gradient), var(--colorstrong-gradient));
    border-radius: 30px;
    margin: 2rem 0 5rem 0;
    color: var(--color-text);
}

#container-prices {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background);
}

.subscribe-button-apresentation {
    background-color: greenyellow;
    padding: 2rem;
    border-radius: 20px;
    font-size: 1.3rem;
    margin-top: 4rem;
    font-family: var(--font-title);
    font-weight: bold;
    color: var(--color-background);
    box-shadow: 10px 10px 0px var(--color-background);
    cursor: pointer;
}

.apresentation-subscribe {
    justify-content: center;
    /* align-items: center; */
    gap: 10rem;
}

.apresentation-subscribe img {
    border-radius: 0px;
    border: none;
}