.campo-informacoes {
    background-color: var(--color-background);
    width: 90%;
    height: 85vh;
    border-radius: 20px;

    overflow-y: scroll;
}

.controles {
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-bottom: 2px solid var(--color-border);
    height: 5rem;
}

.controles-buttons {
    display: flex;
    gap: 1rem;
}

.controles-buttons > button > img {
    width: 20px;
    margin-right: .5rem;
}

.controles > div > button {
    color: var(--color-text);
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 15px;
    padding: .6rem 1rem;
    border-radius: 20px;
}

.btn-add {
    background-color: var(--color-green);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn-reset {
    background-color: var(--color-orange);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.controles > input::placeholder {
    color: var(--color-text);
    opacity: 80%;
    font-size: 15px;
}

.lista-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-list);
    color: var(--color-text);
    margin: 2rem;
    padding: 1rem 2rem;
    border-radius: 15px;
    font-family: var(--font-text);
}

.item-description {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.item-descriptionTitle {
    font-size: 25px;
}

.item-descriptionInfos {
    font-size: 15px;
}

.item-data {
    font-size: 17px;
    font-weight: bold;
}

.item-price {
    font-weight: bold;
}

.item-button {
    width: 20px;
    margin-left: 1rem;
    cursor: pointer;
}

.valor-total {
    color: var(--color-text);
    font-family: var(--font-title);
    font-size: 25px;
    font-weight: bold;
}

.text-controles {
    font-size: 25px;
    font-family: var(--font-title);
    font-weight: bold;

    color: var(--color-text);
}

@media screen and (max-width:1100px) {
    .campo-informacoes {
        height: 80%;
        margin-top: 3rem;
    }

    .controles {
        flex-direction: column;
        text-align: center;
        height: auto;
        gap: 1rem;
        padding: 2rem 1rem;
    }

    .text-controles {
        font-size: 20px;
    }

    .lista-item {
        height: 12rem;
        flex-direction: column;
    }
    
    .item-description {
        gap: 0;
        text-align: center;
        margin-bottom: 1rem;
    }
    
    .item-data {
        margin-bottom: .5rem;
    }
    
    .item-price {
        margin-bottom: 1rem;
    }
    
    .item-button {
        width: 25px;
        margin-left: 0;
    }
}